@font-face {
  font-family: Graphick;
  src: url("/fonts/GraphikRegular.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --roxo1: #8a05be;
  --roxo2: #530082;
  --preto: #111111;
  --branco: #ffffff;
  --cinza: #f5f5f5;
}

body {
  font-family: Graphick !important;
  background-color: var(--cinza);
}

.container-fluid {
  padding: 0 3rem !important;
}

.container {
  max-width: 1280px !important;
}

img {
  max-width: 100%;
}

header .headerContainer {
  width: 100%;
  height: 56px;
  background-color: var(--branco);
  color: var(--preto);
  font-size: 0.975rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  position: fixed;
  z-index: 99;
}

header .headerContainer .logo {
  color: var(--preto);
}

header .headerContainer .menu ul,
header .headerContainer .menu li {
  display: inline-block;
  list-style: none;
  margin: 0 1rem;
}

header .headerContainer a {
  color: var(--preto);
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

header .headerContainer a:hover {
  text-decoration: underline;
}

header .headerContainer .login {
  margin-left: auto;
}

header .headerContainer .login a {
  color: var(--roxo1);
  font-size: 1rem;
  font-weight: bold;
}

main .mainContainer {
  height: 100vh;
  width: 100%;
  background-color: var(--roxo1);
  color: var(--branco);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .mainContainer .tituloPrincipal {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .mainContainer .tituloPrincipal h1 {
  font-size: 3rem;
  font-weight: bold;
}

main .mainContainer .tituloPrincipal a {
  color: var(--branco);
  margin-top: 1rem;
}

main .mainContainer .imgPrincipal {
  height: 100%;
}

main .mainContainer .imgPrincipal img {
  max-width: 100%;
}

main .mainContainer .formPrincipal {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .mainContainer .formPrincipal form {
  background-color: var(--branco);
  max-width: 80%;
  border-radius: 0.875rem;
  color: var(--preto);
  padding: 1.5rem;
}

main .mainContainer .formPrincipal form h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

main .mainContainer .formPrincipal form input {
  margin: 3rem 0 2rem 0;
  width: 100%;
  height: 3rem;
  border: none;
}

main .mainContainer .formPrincipal form button {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 2rem;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  color: var(--preto);
}

main .mainContainer .formPrincipal form button:hover {
  background-color: var(--roxo1);
  color: var(--branco);
}

.bold {
  font-weight: bold;
}

section,
footer {
  padding: 4rem 0;
}

section h2 {
  font-size: 2.6rem;
}

.saibaMais {
  margin: 2rem 0;
}

#nuconta {
  width: 100%;
  height: auto;
  background-color: var(--cinza);
}

#nuconta img {
  max-height: 600px;
  float: right;
}

#nuconta a {
  color: var(--roxo1);
  text-decoration: none;
}

#nuconta a:hover {
  text-decoration: underline;
}

#credito {
  width: 100%;
  height: 650px;
  background-color: var(--branco);
  overflow: hidden;
}

#credito img {
  max-height: 800px;
  float: right;
}

#credito a {
  color: var(--roxo1);
  text-decoration: none;
}

#credito a:hover {
  text-decoration: underline;
}

#rewards {
  width: 100%;
  height: auto;
  background-color: var(--branco);
  overflow: hidden;
}

#rewards img {
  max-height: 450px;
  float: right;
}

#rewards a {
  color: var(--roxo1);
  text-decoration: none;
}

#rewards a:hover {
  text-decoration: underline;
}

#sobre {
  width: 100%;
  height: calc(100vh - 56px);
  background-image: url(../assets/images/sobre.jpg);
  background-position: center;
  background-size: cover;
  color: var(--branco);
}

#sobre a {
  color: var(--branco);
  text-decoration: none;
}

#sobre a:hover {
  text-decoration: underline;
}

#nucommunity {
  width: 100%;
  height: calc(100vh - 56px);
  background-image: url(../assets/images/nucommunity.jpg);
  background-position: center;
  background-size: cover;
  color: var(--branco);
}

#nucommunity a {
  color: var(--branco);
  text-decoration: none;
}

#nucommunity a:hover {
  text-decoration: underline;
}

#blog {
  width: 100%;
  height: calc(100vh - 56px);
  background-image: url(../assets/images/blog.jpg);
  background-position: center;
  background-size: cover;
  color: var(--branco);
}

#blog a {
  color: var(--branco);
  text-decoration: none;
}

#blog a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--preto);
}

footer h3 {
  color: var(--cinza);
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

footer ul,
footer li {
  list-style: none;
  line-height: 1.8rem;
}

footer a {
  color: var(--branco);
  font-size: 1rem;
}

footer .links1 {
  margin-bottom: 1rem;
}

footer .copyright {
  padding: 3rem 0;
}

footer address,
footer span {
  color: var(--branco);
}

footer #separador {
  background-color: rgba(245, 245, 245, 0.05);
}

footer i {
  font-size: 1.5rem;
  color: var(--branco);
  margin-right: 1rem;
}
/*# sourceMappingURL=style.css.map */